<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--credentials-->
    <add key="Hashtags" value="\..\..\..\hashtags_1.txt" />
    <add key="Credentials" value="\..\..\..\Insta_Creds.txt" />
    <add key="InstagramUri" value="https://www.instagram.com/" />
  </appSettings>
</configuration>