<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--credentials-->
    <add key="UserName" value="the_best_of_flickr"/>
    <add key="Password" value="instaG*_"/>
    <add key="Hashtags" value="\..\..\..\hashtags.txt"/>
    <add key="InstagramUri" value="https://www.instagram.com/"/>
  </appSettings>
</configuration>